<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Resume Builder</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <div class="container mx-auto">
        <!-- Header Navigation -->
        <header class="bg-blue-700 text-white shadow-md ">
            <nav class="flex justify-between items-center p-4 w-full">
                <div class="text-xl font-bold">
                    <a href="/" class="text-white no-underline hover:text-gray-300">Resume Builder</a>
                </div>
                <ul class="flex space-x-4">
                    <li><a href="/" class="no-underline transform transition duration-300 hover:scale-110">Home</a></li>
                    <li><a href="/Home/About" class="no-underline transform transition duration-300 hover:scale-110">About</a></li>
                    @* <li><a href="/Home/Contact" class="hover:underline">Contact</a></li>*@
                    <li><a href="/Home/ResumeBuild" class="no-underline transform transition duration-300 hover:scale-110">Resume Builder</a></li>
                </ul>
            </nav>
        </header>
        <!-- End of Header Navigation -->

        <main role="main" class="container mx-auto px-6 py-8 flex-grow">
            @RenderBody()
        </main>

        <footer class="border-t mt-4 py-4 text-center text-gray-500 ">
            &copy; @DateTime.Now.Year - Resume Builder
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
